       
<%- include('partials/header') %>
<h1 style="text-align: center;font-weight: 600;margin-top: 1vw;margin-bottom: 1vw;">Machinery Available For Approval</h1>
<% result.forEach(function(image) { %>

            <div style="" >
              <div style="text-align: center;border:2px solid black;margin-left:20px;margin-right: 20px;margin-bottom: 1vw;" class="row">
                <div style="padding: 0px" class="col-lg-3" >
                    <img style="height: 100% !important;width:100%;padding-left: 0px"  src="data:image/<%=image.img.contentType%>;base64,<%=image.img.data.toString('base64')%>" >
                  </div>
                  <div class="col-lg-9">
                    <h1 style=" text-align: center;font-weight: 800"> <%=image.pName%> </h1>
                    <div class="row">
                      <div style="font-size: 0.2vw" class="col-lg-4">
                        <h3 ><span style="color:green;font-weight: 680;">Name : </span><%=image.fname + image.lname %></h3>
                      </div>
                      <div class="col-lg-4">
                       <h3><span style="color:green;font-weight: 680;">Ph No. :</span><%=image.phoneNumber %></h3>
                       </div>
                       <div class="col-lg-4">
                       <h3><span style="color:green;font-weight: 680;">Email : </span><%=image.email%></h3>
                      </div>
                    </div>
                  <div class="row">
                    <div class="col-lg-4">
                      <h3><span style="color:green;font-weight: 680;">State :</span><%=image.state %></h3>
                     </div>
                     <div class="col-lg-4">
                      <h3><span style="color:green;font-weight: 680;">City :</span><%=image.city%></h3>
                     </div>
                     <div class="col-lg-4">
                      <h3><span style="color:green;font-weight: 680;">Pin Code :</span><%=image.zipCode%></h3>
                     </div>
                  </div>
                  <div class="row">
                     <div style="" class="col-lg-12">
                      <h3><span style="color:green;font-weight: 680;">Description : </span><%=image.pDesc%> </h3>
                    </div>
                  </div>
                  <div class="row">
                    <div  style="padding-bottom: 2vw;" class="col-lg-6">
                       <form style="text-align:right;margin-right: 1.2vw;"method="POST" action="/adminportal/<%=image._id%>">
                         <button  type="submit" style="background-color:#6790b4;font-weight: 600;font-size: 1.5vw;border-radius: 50px;width: 8vw">Approve</button>
                       </form>
                     </div>
                     <div class="col-lg-6">
                       <form style="text-align:left;margin-left: 1.2vw;" method="POST" action="/adminportal/reject/<%=image._id%>">
                         <button  type="submit" style="background-color:red;font-weight: 600;font-size: 1.5vw;border-radius: 50px;width: 8vw">Reject</button>
                       </form>
                    </div>
                  </div>
              </div>
            </div>

    <% }) %>  
<%- include('partials/footer') %>