<%- include('partials/header') %>

<section class="backgroundImage">
    <div class="container  text-center">
        <br>
        <h2>Machinery Available For Sale</h2>
        <div class="row justify-content-center">
          <%console.log(result); %>
      <% result.forEach(function(image) { %>

        
              <div  class="col-md-4 col-sm-6 text-start">
                <div style="border:1.4px solid black;margin-bottom: 2vw" class="shadow-sm  mb-5 bg-white rounded card" >
                    <img style="height: 30vw !important;width:80%" class="card-img-top" src="data:image/<%=image.img.contentType%>;base64,<%=image.img.data.toString('base64')%>" alt="Card image cap">
                    <div style="padding:0.5vw!important;height: 25vw!important" class="card-body">
                        <h5  style="text-align: center!important;font-size: 1.5vw;font-weight: 600" class="card-title"><strong><%= image.pName %></strong> </h5>
                    
                      <p class="card-text"> <%= image.pDesc %>    </p>
                      <p style="text-align: center!important;font-size:1vw;font-weight: 300">Price : <%= image.pPrice %></p>

                      <form action="product/<%= image._id %>" method="POST" style="margin-bottom: 2vw">
                        <button name="detailsButton" value="details" class="btn btn-primary btn-sm">View Details</button>
                        <button name="cartButton" value="addToCart" class="btn btn-primary btn-sm">Add To Cart</button>
                      </form>
                      
                      
                    </div>
                    
                </div>
              </div>   
    <% }) %> 
    </div>
    </div>
</section>


<%- include('partials/footer') %>
